# encoding: UTF-8


<h3>Configuracoes do Plugin CTI-REDMINE</h3>

<p>
  <label for="projetoId_inicial">projetoId_inicial: O ID do projeto inicial a ser visualizado</label>
  <input type="text" id="projetoId_inicial" value="<%= settings['projetoId_inicial'] %>" name="settings[projetoId_inicial]" required style="width:90%"/>
</p>
<br />

<p>
  <label for="objetivoId_inicial ">objetivoId_inicial : O ID do OBJETIVO inicial a ser visualizado</label>
  <input type="text" id="objetivoId_inicial " value="<%= settings['objetivoId_inicial '] %>" name="settings[objetivoId_inicial ]" required style="width:90%"/>
</p>
<br />

<p>
  <label for="krId_inicial ">krId_inicial : O ID do KR (Resultado Chave) inicial a ser visualizado</label>
  <input type="text" id="krId_inicial " value="<%= settings['krId_inicial '] %>" name="settings[krId_inicial ]" required style="width:90%"/>
</p>
<br />


<br />
