<div class="footer-mulheres">
  <div class="footer-mulheres-links">
    <a href="https://www.instagram.com/min.dasmulheres" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/min.dasmulheres" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/mindasmulheres" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.flickr.com/photos/ministeriodasmulheres/albums" target="_blank"><i class="fab fa-flickr"></i></a>
  </div>

  <div class="footer-mulheres-copyright">
    <%= image_tag "logo.png", alt: "Logo", plugin: 'cti_plugin, width: 196, height: 84 %>
  </div>
